#ds1r1c1{top: 12px; left: 13px;}
#ds1r1c2{top: 12px; left: 82px;}
#ds1r1c3{top: 12px; left: 152px;}
#ds1r2c1{top: 82px; left: 13px;}
#ds1r2c2{top: 82px; left: 82px;}
#ds1r2c3{top: 82px; left: 152px;}
#ds1r3c1{top: 148px; left: 13px;}
#ds1r3c2{top: 148px; left: 82px;}
#ds1r3c3{top: 148px; left: 152px;}
#ds1r4c1{top: 216px; left: 13px;}
#ds1r4c2{top: 216px; left: 82px;}
#ds1r4c3{top: 216px; left: 152px;}
#ds1r5c1{top: 286px; left: 13px;}
#ds1r5c2{top: 286px; left: 82px;}
#ds1r5c3{top: 286px; left: 152px;}
#ds1r6c1{top: 354px; left: 13px;}
#ds1r6c2{top: 354px; left: 82px;}
#ds1r6c3{top: 354px; left: 152px;}

#ds2r1c1{top: 12px; left: 244px;}
#ds2r1c2{top: 12px; left: 313px;}
#ds2r1c3{top: 12px; left: 382px;}
#ds2r2c1{top: 82px; left: 244px;}
#ds2r2c2{top: 82px; left: 313px;}
#ds2r2c3{top: 82px; left: 382px;}
#ds2r3c1{top: 148px; left: 244px;}
#ds2r3c2{top: 148px; left: 313px;}
#ds2r3c3{top: 148px; left: 382px;}
#ds2r4c1{top: 216px; left: 244px;}
#ds2r4c2{top: 216px; left: 313px;}
#ds2r4c3{top: 216px; left: 382px;}
#ds2r5c1{top: 286px; left: 244px;}
#ds2r5c2{top: 286px; left: 313px;}
#ds2r5c3{top: 286px; left: 382px;}
#ds2r6c1{top: 354px; left: 244px;}
#ds2r6c2{top: 354px; left: 313px;}
#ds2r6c3{top: 354px; left: 382px;}

#ds3r1c1{top: 12px; left: 475px;}
#ds3r1c2{top: 12px; left: 544px;}
#ds3r1c3{top: 12px; left: 613px;}
#ds3r2c1{top: 82px; left: 475px;}
#ds3r2c2{top: 82px; left: 544px;}
#ds3r2c3{top: 82px; left: 613px;}
#ds3r3c1{top: 148px; left: 475px;}
#ds3r3c2{top: 148px; left: 544px;}
#ds3r3c3{top: 148px; left: 613px;}
#ds3r4c1{top: 216px; left: 475px;}
#ds3r4c2{top: 216px; left: 544px;}
#ds3r4c3{top: 216px; left: 613px;}
#ds3r5c1{top: 286px; left: 475px;}
#ds3r5c2{top: 286px; left: 544px;}
#ds3r5c3{top: 286px; left: 613px;}
#ds3r6c1{top: 354px; left: 475px;}
#ds3r6c2{top: 354px; left: 544px;}
#ds3r6c3{top: 354px; left: 613px;}