#es1r1c1{top: 59px; left: 59px;}
#es1r1c2{top: 59px; left: 128px;}
#es1r1c3{top: 59px; left: 197px;}
#es1r2c1{top: 128px; left: 59px;}
#es1r2c2{top: 128px; left: 128px;}
#es1r2c3{top: 128px; left: 197px;}
#es1r3c1{top: 196px; left: 59px;}
#es1r3c2{top: 196px; left: 128px;}
#es1r3c3{top: 196px; left: 197px;}
#es1r4c1{top: 264px; left: 59px;}
#es1r4c2{top: 264px; left: 128px;}
#es1r4c3{top: 264px; left: 197px;}
#es1r5c1{top: 332px; left: 59px;}
#es1r5c2{top: 332px; left: 128px;}
#es1r5c3{top: 332px; left: 197px;}
#es1r6c1{top: 400px; left: 59px;}
#es1r6c2{top: 400px; left: 128px;}
#es1r6c3{top: 400px; left: 197px;}

#es2r1c1{top: 59px; left: 290px;}
#es2r1c2{top: 59px; left: 359px;}
#es2r1c3{top: 59px; left: 428px;}
#es2r2c1{top: 128px; left: 290px;}
#es2r2c2{top: 128px; left: 359px;}
#es2r2c3{top: 128px; left: 428px;}
#es2r3c1{top: 196px; left: 290px;}
#es2r3c2{top: 196px; left: 359px;}
#es2r3c3{top: 196px; left: 428px;}
#es2r4c1{top: 264px; left: 290px;}
#es2r4c2{top: 264px; left: 359px;}
#es2r4c3{top: 264px; left: 428px;}
#es2r5c1{top: 332px; left: 290px;}
#es2r5c2{top: 332px; left: 359px;}
#es2r5c3{top: 332px; left: 428px;}
#es2r6c1{top: 400px; left: 290px;}
#es2r6c2{top: 400px; left: 359px;}
#es2r6c3{top: 400px; left: 428px;}

#es3r1c1{top: 59px; left: 521px;}
#es3r1c2{top: 59px; left: 590px;}
#es3r1c3{top: 59px; left: 659px;}
#es3r2c1{top: 128px; left: 521px;}
#es3r2c2{top: 128px; left: 590px;}
#es3r2c3{top: 128px; left: 659px;}
#es3r3c1{top: 196px; left: 521px;}
#es3r3c2{top: 196px; left: 590px;}
#es3r3c3{top: 196px; left: 659px;}
#es3r4c1{top: 264px; left: 521px;}
#es3r4c2{top: 264px; left: 590px;}
#es3r4c3{top: 264px; left: 659px;}
#es3r5c1{top: 332px; left: 521px;}
#es3r5c2{top: 332px; left: 590px;}
#es3r5c3{top: 332px; left: 659px;}
#es3r6c1{top: 400px; left: 521px;}
#es3r6c2{top: 400px; left: 590px;}
#es3r6c3{top: 400px; left: 659px;}